<%= form_for(@versao) do |f| %>
<% if @versao.errors.any? %>
<fieldset id="erros">
   <div class="ui-state-error ui-corner-all" style="padding: 5px; width: 50%">
     <h3><%= t('errors.messages.titulo') %>:</h3>
     <br>
     <ul>
       <% @versao.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
     </ul>
   </div>
</fieldset>
<% end %>
<hr>
  <div class="clearfix">
    <%= f.label :descricao %>
    <div class="input">
    	<%= f.text_field :descricao %>
    </div>
  </div>
  <div class="actions">
	<%= f.submit t('botao.salvar'), :class => "btn primary" %>
    <a href="<%= versoes_path %>"><button class="btn" name="btnback"><%= t('botao.cancelar')%></button></a>
  </div>
<% end %>
