<h1><%= t('app.menu.listagem')%>&nbsp;<%= t('app.menu.devolucao')%></h1>
<%= form_for(@devolucao, :html => { :method => :get }, :url => devolucoes_path) do |f| %>

	<table class="zebra-striped">
	  <tr>
	    <th><%= t('devolucao.data_devolucao')%></th>
	    <th><%= t('devolucao.os_devolucao')%></th>
	    <th width="50%"></th>
	  </tr>
	  <tr class="pesquisa">
	    <th><%= f.text_field :data_devolucao, :value => (I18n.l(@devolucao.data_devolucao) if @devolucao.data_devolucao) %></th>
	    <th><%= f.text_field :os_devolucao, :value => (@devolucao.os_devolucao if @devolucao.os_devolucao) %></th>
		<th><%= f.submit t('botao.pesquisar'), :class => "btn primary" %></th>
	  </tr>
	</table>
<% end %>

	<% if @devolucoes.size > 0  %>
	 <table class="zebra-striped">
	  <tr>
	    <th width="15%"><%= t('devolucao.data_devolucao')%></th>
	    <th width="15%"><%= t('devolucao.os_devolucao')%></th>
    	<th width="15%"><%= t('devolucao.movimentacao')%></th>
        <th width="15%"><%= t('devolucao.serie')%></th>
        <th width="15%"><%= t('devolucao.patrimonio')%></th>
	 	<th></th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @devolucoes.each do |devolucao| %>
	  <tr>
	    <td><%= I18n.l(devolucao.data_devolucao) if devolucao.data_devolucao %></td>
	    <td><%= devolucao.os_devolucao %></td>
		<td><%= devolucao.movimentacao.id if devolucao.movimentacao %></td>
		<td><%= devolucao.movimentacao.serie if devolucao.movimentacao %></td>
		<td><%= devolucao.movimentacao.patrimonio if devolucao.movimentacao %></td>
	    <td><%= link_to t('botao.detalhes'), devolucao %></td>
	    <td><%= link_to t('botao.editar'), edit_devolucao_path(devolucao) %></td>
	    <td><%= link_to t('botao.excluir'), devolucao, confirm: 'Tem certeza que deseja excluir este registro?', method: :delete %></td>
	  </tr>
	 <% end %>
 </table>
	<div class="apple_pagination">
	    <%= will_paginate @devolucoes, :container => false, :next_label => 'Próximo', :previous_label => 'Anterior' %>
	</div>
<% end %>

<br />

<a href="<%= new_devolucao_path %>"><button class="btn" name="btnpesquisa"><%= t('devolucao.acao.novo')%></button></a>
<script>

$(function() {
  $('#devolucao_data_devolucao').datepicker({dateFormat : 'dd/mm/yy'});
});
</script>