<h1><%= t("devolucao.acao.detalhar") %></h1>
<table>
	<tr><td width="33%">
	<p>
	  <b> <%= t('devolucao.destino') %>:</b>
	  <%= @devolucao.destino.descricao if @devolucao.destino %>
	</p>
		
	<p>
	  <b><%= t('devolucao.data_devolucao') %>:</b>
	  <%= @devolucao.data_devolucao %>
	</p>

	<p>
	  <b><%= t('devolucao.os_devolucao') %>:</b>
	  <%= @devolucao.os_devolucao %>
	</p>

	<p>
	  <b><%= t('devolucao.observacao') %>:</b>
	  <%= @devolucao.observacao %>
	</p>
	
	<p>
	  <b><%= t('devolucao.movimentacao') %>:</b>
	  <%= @devolucao.movimentacao.id %>
	</p>
	
	<p>
	  <b><%= t('devolucao.serie') %>:</b>
	  <%= @devolucao.movimentacao.serie %>
	</p>

	<p>
	  <b><%= t('devolucao.patrimonio') %>:</b>
	  <%= @devolucao.movimentacao.patrimonio %>
	</p>

	<p>
	  <b><%= t('devolucao.tecnico') %>:</b>
	  <%= @devolucao.movimentacao.tecnico.nome if @devolucao.movimentacao.tecnico %>
	</p>
	
	<p>
	  <b><%= t('devolucao.modelo') %>:</b>
	  <%= @devolucao.movimentacao.modelo.descricao if @devolucao.movimentacao.modelo %>
	</p>

	<p>
	  <b><%= t('devolucao.versao') %>:</b>
	  <%= @devolucao.movimentacao.versao.descricao if @devolucao.movimentacao.versao %>
	</p>

	<p>
	  <b><%= t('devolucao.nfe_referencia') %>:</b>
	  <%= @devolucao.movimentacao.nota_fiscal %>
	</p>
	
	<p>
	  <b><%= t('devolucao.ordem_servico') %>:</b>
	  <%= @devolucao.movimentacao.ordem_servico%>
	</p>
	
	</td>
	<td width="33%"></td>
	<td>&nbsp;</td>
  </tr>
</table>
<div class="actionsShow">
	<a href="<%= edit_devolucao_path %>"><button class="btn primary" name="btnback"><%= t('botao.editar')%></button></a>&nbsp; 
	<a href="<%= devolucoes_path %>"><button class="btn" name="btnback"><%= t('botao.voltar')%></button></a>
</div>
