<h1><%= t('home.titulo')%></h1>

<table class="zebra-striped">
 <tbody>	
  <tr>
    <td><%= t('app.menu.tecnico')%>: <%= @tecnicos.size %> <%= t('home.registros') %></td>
  </tr>
  <tr>
    <td><%= t('app.menu.modelo')%>: <%= @modelos.size %> <%= t('home.registros') %></td>
  </tr>
  <tr>
    <td><%= t('app.menu.versao')%>: <%= @versoes.size %> <%= t('home.registros') %></td>
  </tr>
  <tr>
    <td><%= t('app.menu.destino')%>: <%= @destinos.size %> <%= t('home.registros') %></td>
  </tr>
 </tbody>
</table>
