<%= form_for(@destino) do |f| %>
  <% if @destino.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@destino.errors.count, "error") %> prohibited this destino from being saved:</h2>

      <ul>
      <% @destino.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<hr>
  <div class="clearfix">
    <%= f.label :descricao %>
   <div class="input">
    	<%= f.text_field :descricao %>
   </div>
  </div>
  <div class="actions">
	<%= f.submit t('botao.criar'), :class => "btn primary" %>
    <a href="<%= destinos_path %>"><button class="btn" name="btnback"><%= t('botao.cancelar')%></button></a>
  </div>
<% end %>
