<%= form_for(@movimentacao) do |f| %>
  <% if @movimentacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movimentacao.errors.count, "error") %> prohibited this movimentacao from being saved:</h2>

      <ul>
      <% @movimentacao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
  <tr><td>	 
  <div class="clearfix">
    <%= f.label :tecnico %>
    <div class="input">
    	<%= f.select :tecnico_id, options_from_collection_for_select(@tecnicos,:id,:nome, @movimentacao.tecnico_id),  
			:include_blank => true %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :data_movimentacao %>
    <div class="input">
    <%= f.text_field :data_movimentacao %>	
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :serie %>
    <div class="input">
    	<%= f.text_field :serie %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :patrimonio %>
    <div class="input">
    	<%= f.text_field :patrimonio %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :versao %>
    <div class="input">
    	<%= f.select :versao_id, options_from_collection_for_select(@versoes,:id,:descricao, @movimentacao.versao_id),  
			:include_blank => true %>
   </div>
  </div>
  <div class="clearfix">
    <%= f.label :modelo %>
    <div class="input">
    	<%= f.select :modelo_id, options_from_collection_for_select(@modelos,:id,:descricao, @movimentacao.modelo_id),  
			:include_blank => true %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :data_entrada %>
    <div class="input">
    	<%= f.text_field :data_entrada %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :status %>
    <div class="input">
       <%= f.select :status, options_for_select(@movimentacao.lista_status, @movimentacao.status) ,  
         :include_blank => true %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :ordem_servico %>
    <div class="input">
    	<%= f.text_field :ordem_servico %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :data_relatorio %>
    <div class="input">    
		<%= f.text_field :data_relatorio %>
    </div>		 
  </div>
</td><td>
  <div class="clearfix">
    <%= f.label :codigo_fiscal %>
    <div class="input">
    	<%= f.text_field :codigo_fiscal %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :data_nota_fiscal %>
    <div class="input">
    	<%= f.text_field :data_nota_fiscal %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :nota_fiscal %>
    <div class="input">
    	<%= f.text_field :nota_fiscal %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :nfe %>
    <div class="input">
    	<%= f.text_field :nfe %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :termo %>
    <div class="input">
    	<%= f.file_field :termo %>
    </div>
  </div>  
  <div class="clearfix">
    <%= f.label :observacao %>
    <div class="input">
    	<%= f.text_area :observacao, {:cols => 50, :rows => 10} %>
    </div>
  </div>
</td>
</tr>
</table>
  <div class="actions">
	<%= f.submit t('botao.salvar'), :class => "btn primary" %>
    <a href="<%= movimentacoes_path %>"><button class="btn" name="btnback"><%= t('botao.cancelar')%></button></a>
  </div>
<% end %>
<script>
$(function() {
  $('#movimentacao_data_movimentacao').datepicker();
  $('#movimentacao_data_entrada').datepicker();
  $('#movimentacao_data_relatorio').datepicker();
  $('#movimentacao_data_nota_fiscal').datepicker();
});
</script>