<h1><%= t('app.menu.listagem')%>&nbsp;<%= t('app.menu.movimentacao')%></h1>

<% if @movimentacoes.size > 0  %>
 <table class="zebra-striped">
  <tr>
    <th width="20%"><%= t('movimentacao.tecnico')%></th>
    <th width="10%"><%= t('movimentacao.data_mov')%></th>
    <th width="10%"><%= t('movimentacao.serie')%></th>
    <th width="10%"><%= t('movimentacao.data_entrada')%></th>
    <th width="10%"><%= t('movimentacao.status')%></th>
    <th width="10%"><%= t('movimentacao.os')%></th>
    <th width="10%"><%= t('movimentacao.data_relatorio')%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

 <% @movimentacoes.each do |movimentacao| %>
  <tr>
    <td><%= movimentacao.tecnico.nome %></td>
    <td><%= movimentacao.data_movimentacao %></td>
    <td><%= movimentacao.serie %></td>
    <td><%= movimentacao.data_entrada %></td>
    <td><%= movimentacao.lista_status.key(movimentacao.status) if movimentacao.status %></td>
    <td><%= movimentacao.ordem_servico %></td>
    <td><%= movimentacao.data_relatorio %></td>
    <td><%= link_to t('botao.detalhes'), movimentacao %></td>
    <td><%= link_to t('botao.editar'), edit_movimentacao_path(movimentacao) %></td>
    <td><%= link_to t('botao.excluir'), movimentacao, confirm: 'Tem certeza que deseja excluir este registro?', method: :delete %></td>
  </tr>
 <% end %>
 </table>
<% end %>
<br />

<a href="<%= new_movimentacao_path %>"><button class="btn" name="btnpesquisa"><%= t('movimentacao.acao.novo')%></button></a>
