<h1><%= t('app.menu.listagem')%>&nbsp;<%= t('app.menu.movimentacao')%></h1>
<%= form_for(@movimentacao, :html => { :method => :get }, :url => popup_movimentacoes_path, :remote => true) do |f| %>
    
	<table class="zebra-striped">
	  <tr>
	    <th><%= t('movimentacao.tecnico')%></th>
	    <th><%= t('movimentacao.serie')%></th>
	    <th><%= t('movimentacao.data_mov')%></th>
	    <th></th>
	  </tr>
	  <tr class="pesquisa">
	    <th><%= f.select :tecnico_id, options_from_collection_for_select(@tecnicos,:id,:nome, @movimentacao.tecnico_id),  
				:include_blank => true %></th>
	    <th><%= f.text_field :serie, :value => @movimentacao.serie %></th>
	    <th><%= f.text_field :data_movimentacao, :value => (I18n.l(@movimentacao.data_movimentacao) if @movimentacao.data_movimentacao) %></th>
		<th><%= f.submit t('botao.pesquisar'), :class => "btn primary" %></th>
	  </tr>
	</table>
<% end %>

 <div id="result">

 </div>	

<br />
<script>

$(function() {
  $('#movimentacao_data_movimentacao').datepicker({dateFormat : 'dd/mm/yy'});
  $('#movimentacao_data_entrada').datepicker({dateFormat : 'dd/mm/yy'});
  $('#movimentacao_data_relatorio').datepicker({dateFormat : 'dd/mm/yy'});
});

 function carregaPai(id) {
	$("#retirada_movimentacao_id").attr("value", id);
	$("#retirada_serie_mov").attr("value", $("#ser" + id).text());
	$("#retirada_patrimonio_mov").attr("value", $("#pat" + id).text());
	$("#retirada_tecnico_mov").attr("value", $("#tec" + id).text());
	$("#retirada_versao_mov").attr("value", $("#ver" + id).val());
	$("#retirada_modelo_mov").attr("value", $("#mod" + id).val());
	$("#retirada_nfe_referencia_mov").attr("value", $("#nfe" + id).val());
	$("#retirada_ordem_servico_mov").attr("value", $("#os" + id).val());
	$("#retirada_data_instalacao_mov").attr("value", $("#dtm" + id).text());
	$("#popup_search").remove();
}

</script>