<h1><%= t("movimentacao.acao.detalhar") %></h1>
<table>
	<tr><td>
	<p>
	  <b><%= t('movimentacao.tecnico')%>:</b>
	  <%= @movimentacao.tecnico.nome if @movimentacao.tecnico %>
	</p>

	<p>
	  <b><%= t('movimentacao.data_movimentacao')%>:</b>
	  <%= @movimentacao.data_movimentacao %>
	</p>

	<p>
	  <b><%= t('movimentacao.serie')%>:</b>
	  <%= @movimentacao.serie %>
	</p>

	<p>
	  <b><%= t('movimentacao.patrimonio')%>:</b>
	  <%= @movimentacao.patrimonio %>
	</p>

	<p>
	  <b><%= t('movimentacao.versao')%>:</b>
	  <%= @movimentacao.versao.descricao if @movimentacao.versao %>
	</p>

	<p>
	  <b><%= t('movimentacao.modelo')%>:</b>
	  <%= @movimentacao.modelo.descricao if @movimentacao.modelo %>
	</p>

	<p>
	  <b><%= t('movimentacao.entrada')%>:</b>
	  <%= @movimentacao.data_entrada %>
	</p>

	<p>
	  <b><%= t('movimentacao.status')%>:</b>
	  <%= @movimentacao.lista_status.key(@movimentacao.status) if @movimentacao.status %>
	</p>

	<p>
	  <b><%= t('movimentacao.ordem_servico')%>:</b>
	  <%= @movimentacao.ordem_servico %>
	</p>
	
   </td>
   <td>
		
	<p>
	  <b><%= t('movimentacao.data_relatorio')%>:</b>
	  <%= @movimentacao.data_relatorio %>
	</p>

	<p>
	  <b><%= t('movimentacao.codigo_fiscal')%>:</b>
	  <%= @movimentacao.codigo_fiscal %>
	</p>

	<p>
	  <b><%= t('movimentacao.data_nota_fiscal')%>:</b>
	  <%= @movimentacao.data_nota_fiscal %>
	</p>

	<p>
	  <b><%= t('movimentacao.nota_fiscal')%>:</b>
	  <%= @movimentacao.nota_fiscal %>
	</p>

	<p>
	  <b><%= t('movimentacao.nfe')%>:</b>
	  <%= @movimentacao.nfe %>
	</p>

	<p>
	  <b><%= t('movimentacao.observacao')%>:</b>
	  <%= @movimentacao.observacao %>
	</p>
	<p>
	  <b><%= t('movimentacao.retirado')%>:</b>
	  <%= @movimentacao.retirado %>
	</p>
	
	<p>
	  <b><%= t('movimentacao.termo')%>:</b>
	  <%= link_to "#{@movimentacao.termo_file_name}", @movimentacao.termo.url, :target => "_blank" %>
	</p>
	
	</td>
	</tr>
</table>
<div class="actionsShow">
	<a href="<%= edit_movimentacao_path %>"><button class="btn primary" name="btnback"><%= t('botao.editar')%></button></a>&nbsp; 
	<a href="<%= movimentacoes_path %>"><button class="btn" name="btnback"><%= t('botao.voltar')%></button></a>
</div>
