<!DOCTYPE html>
<html>
<head>
  <title><%= t("app.nome_completo") %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/"><%= t("app.nome") %></a>
          <ul class="nav">
            <li class='<%=@class_home %>' ><a href="/home"><%= t("app.menu.home") %></a></li>
            <li class='<%=@class_movimentacao %>' ><a href="/movimentacoes"><%= t("app.menu.movimentacao") %></a></li>
            <li class='<%=@class_tecnico %>' ><a href="/tecnicos"><%= t("app.menu.tecnico") %></a></li>
            <li class='<%=@class_modelo %>' ><a href="/modelos"><%= t("app.menu.modelo") %></a></li>
            <li class='<%=@class_versao %>' ><a href="/versoes"><%= t("app.menu.versao") %></a></li>
            <li class='<%=@class_destino %>' ><a href="/destinos"><%= t("app.menu.destino") %></a></li>
          </ul>
        </div>
      </div>
    </div>

 <div class="container">
    <div class="content">
		<div class="page-header">
		 </div>
     	<div class="row">
		   <div class="span16">
			<% if notice.present? %>
			    <!--script>Notification.success('<%= notice %>');</script-->
			    <script>showNotification(true,'<%= notice %>');</script>
			<% end %>	
			<% if alert.present? %>
			    <script>showNotification(false,'<%= alert %>');</script>
			<% end %>
             <%= yield %>
           </div>
        </div>      
    </div>
    <footer>
	  <p>© Renier 2012</p>
	</footer>
 </div>
</body>
</html>
